<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registroProducto.css}" />
    <title>Operaciones Crud | Registrar Productos</title>
</head>

<body>
    <form th:action="@{/producto/guardar}" th:object="${producto}" method="post" enctype="multipart/form-data"
        layout:fragment="content">
        <div class="contenedor-uno">
            <div>
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" id="nombreProducto" th:field="*{nombreProducto}" required
                    placeholder="Nombre del producto">
            </div>
            <div>
                <label for="categoria">Categoria:</label>
                <select id="categoria" th:field="*{categoria}" required>
                    <option th:each="cat : ${categorias}" th:value="${cat.idCategoria}"
                        th:text="${cat.nombreCategoria}">
                    </option>
                </select>
            </div>
            <div>
                <label for="marca">Marca</label>
                <input type="text" id="marca" th:field="*{marca}" required placeholder="Marca del producto">
            </div>
        </div>
        <div class="contenedor-dos">
            <div>
                <label for="color">Color:</label>
                <input type="text" id="color" th:field="*{color}" required placeholder="Color del producto">
            </div>
            <div>
                <label for="stockProducto">Stock:</label>
                <input type="number" id="stockProducto" th:field="*{stockProducto}" required>
            </div>
            <div>
                <label for="precioUni">Precio:</label>
                <input type="number" id="precioUni" step="0.01" th:field="*{precioUni}" required>
            </div>
        </div>
        <div class="contenedor-tres">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" th:field="*{descripcion}" required
                placeholder="Colocar descripción del productos"></textarea>
        </div>
        <div class="contenedor-cuatro">
            <label class="titulo-dropzone">Imagen del Producto</label>

            <div class="dropzone" onclick="document.getElementById('file').click();">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828774.png" alt="Upload Icon"
                    class="upload-icon" />
                <p class="dropzone-text">Elige un archivo o arrástralo aquí</p>
                <small>SVG, PNG, JPG o GIF</small>
                <input type="file" id="file" name="file" accept="image/*" required onchange="mostrarNombreArchivo()" />
            </div>

            <div id="nombre-archivo" class="nombre-archivo">Ningún archivo seleccionado</div>
        </div>
        <div class="contenedor-seis">
            <label for="estado">Estado:</label>
            <select id="estado" th:field="*{estado}" required>
                <option value="A">Activo</option>
                <option value="D">Desactivado</option>
            </select>
        </div>
        <div class="contenedor-cinco">
            <button type="reset">Limpiar</button>
            <button type="submit">Añadir Producto</button>
            <a href="/producto/listar" class="btn btn-secondary">Cancelar</a>
            <div th:if="${mensaje}" class="alert alert-succes" th:text="${mensaje}"></div>

        </div>
    </form>
</body>

</html>
<script>
    function mostrarNombreArchivo() {
        const input = document.getElementById('file');
        const nombreArchivo = document.getElementById('nombre-archivo');

        if (input.files.length > 0) {
            nombreArchivo.textContent = `Archivo seleccionado: ${input.files[0].name}`;
        } else {
            nombreArchivo.textContent = 'Ningún archivo seleccionado';
        }
    }
</script>