<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{catalogo}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" th:href="@{/css/nosotros.css}" />
</head>
<body layout:fragment="catalogo">
    <div class="container">
        <h1>Acerca de Plaza Vea</h1>   
        <img th:src="@{/img/img1-tiendas.webp}" alt=""> 
        <p>PlazaVea nace el 1993 con el nombre de Santa Isabel y diez años después nos volvimos parte del Grupo Intercorp, grupo que nos dio el respaldo económico para seguir creciendo y buscando mejorar la vida de más familias peruanas.
        En el 2007 comenzamos nuestra expansión por el Perú, siendo los primeros en llegar a provincias; logrando presencia en 25 provincias de costa, sierra y selva; y hoy contamos con más de 100 tiendas para comodidad y satisfacción de más peruanos.
        En el 2009 fuimos la primera cadena peruana en conseguir la certificación internacional HACCP para los alimentos frescos.
        El 2012 renovamos nuestra imagen buscando refrescarla y adecuarla frente a un Perú cada vez más moderno y en crecimiento.
        Buscamos ser la primera opción de compra para todos los peruanos y damos empleo a más de 13 mil colaboradores a nivel nacional en quienes inculcamos nuestros valores:
        Trabajo en Equipo, Ordenado y Honesto, Muy trabajador, Actitud Innovadora y Servicial.
        </p>
    </div>
</body>
</html>