<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{catalogo}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/privacidad.css}" />
    <title>Política de privacidad</title>
</head>
<body layout:fragment="catalogo">
    <div class="container">
        <h1>Política de privacidad</h1>
        <img th:src="@{/img/img_privacidad.webp}" alt="">
        <p>En cumplimiento de lo dispuesto por la Ley N° 29733, Ley de Protección de Datos Personales y su reglamento aprobado por Decreto Supremo N° 016-2024-JUS, Compañía Food Retail S.A.C. pone en conocimiento de sus Clientes, los siguientes aspectos relacionados con sus datos personales:

<p>1. IDENTIDAD Y DOMICILIO DEL TITULAR DEL BANCO DE DATOS PERSONALES
El titular del presente banco de datos en el que se almacenarán los datos personales facilitados en la presente solicitud es Compañía Food Retail S.A.C. (en adelante, “CFR”), con RUC N° 20608300393, con domicilio en Calle Morelli 181, San Borja, Lima, Perú.
La existencia de este banco de datos personales ha sido declarada a la Autoridad Nacional de Protección de Datos Personales, mediante su inscripción en el Registro Nacional de Protección de Datos Personales con la denominación “Clientes” con el código de registro RNPDP-PJP N.º 1669.
</p>

<p>
2. DATOS PERSONALES RECOPILADOS
Se recolectarán los siguientes datos personales de los usuarios: nombres, apellidos, correo electrónico, documento de identidad (DNI o CE), teléfono, fecha de nacimiento, domicilio y datos bancarios (de corresponder).
En caso sea una persona natural con negocio o persona jurídica, se podrá solicitar su razón social y RUC.
</p>

<p>
3. FINALIDAD Y USOS
Los datos personales serán tratados acorde a las siguientes finalidades necesarias:

(i) Contar con la información necesaria para prestar un adecuado servicio al cliente como: la emisión de boleta/ factura, despachos de productos, gestionar consultas, reclamos y/o quejas a través de los canales habilitados para esta finalidad (Libro de reclamaciones, contact center, entre otros) y establecer contacto a fin de resolver los mismos en los canales presenciales y/o de comercio electrónico. En este último caso, CFR utiliza canales web de Plaza Vea.
(ii) Conservar el histórico de compras a efectos históricos y estadísticos.
(iii) Gestionar la solicitud y/o contrato de comercio electrónico, la recepción, procesamiento, el desarrollo y cumplimiento de los servicios y cualquier otro relacionado a los fines que se originen de la relación contractual.
(iv) Gestionar solicitudes para la creación de cuenta de acceso en el canal de comercio electrónico, permitiendo su utilización, modificación o actualización.
(v) Gestionar el inicio de sesión para las compras en la tienda online, así como el seguimiento al proceso de compra iniciado y guardado de historial para futuras compras.
(vi) Gestionar procesar, atender y hacer seguimiento de satisfacción a solicitudes de compra/contrato de comercio físico y/o electrónico a través encuestas en las plataformas de CFR o de los canales de contacto brindados por el usuario, las cuales son tanto por canal digital y aplicación móvil.
(vii) Permitir la adquisición de los Productos ofrecidos en las plataformas electrónicas y móviles de CFR, procesar y administrar las Transacciones que se realicen a través de las plataformas electrónicas de CFR.
(viii) Coordinar la entrega de los productos adquiridos en el domicilio del usuario, proporcionar información y/o seguimiento relacionado con la adquisición de los productos, proporcionar recibos y/o mensajes relativos a la adquisición, envío y entrega de los productos.
(ix) Prevenir fraudes potenciales en contra del Usuario y de CFR.
(x) Hacer de conocimiento del Usuario los movimientos o actividad de su Cuenta.
(xi) Se podrá igualmente realizar, de manera anonimizada o disociada, análisis estadístico.
(xii) Se podrá realizar el tratamiento de los datos personales para elaboración de perfiles y decisiones automatizadas, cuyos resultados podrán tener un impacto en las acciones de la empresa tales como: mejora continua, la satisfacción y experiencia del cliente en el proceso de compra, bots de respuesta, reperfilamiento de clientes, siempre garantizando el cumplimiento de las normativas aplicables y la protección de sus derechos.

Según corresponda, el formulario de recopilación de datos contiene algunos campos de carácter obligatorio. En caso decida no proporcionarlos, no será posible gestionar la solicitud y/o contratos antes referidos o CFR podría incurrir en el incumplimiento de obligaciones. Si decides ingresar los datos, declaras y certificas que ellos corresponden a ti y que son verdaderos, exactos, auténticos, completos, y correctos; y que eres mayor de edad.

Sus datos personales sólo serán utilizados con propósitos limitados, según lo expuesto precedentemente.
</p>

<p>
4. PLAZO DE CONSERVACIÓN DE LOS DATOS Y MEDIDAS DE SEGURIDAD.
Los datos personales proporcionados se conservarán por un periodo indeterminado, mientras no solicite la revocación del consentimiento. CFR tiene implementadas las medidas técnicas, organizativas y legales que garantizan la seguridad y confidencialidad de los datos personales.
</p>

<p>
5. TRANSFERENCIAS Y DESTINATARIOS DE DATOS PERSONALES
Para las finalidades señaladas en el punto 3, CFR podrá valerse de encargados de tratamiento que se identifican en el enlace, algunos de los cuales se encuentran situados fuera del Perú, por lo que se producirá una transferencia internacional (flujo transfronterizo) de datos personales. Estos encargados se encuentran obligados a brindar el servicio de acuerdo con nuestras directrices de protección de datos y/o con la normativa peruana aplicable.
Asimismo, queremos asegurarle que hemos implementado los procedimientos necesarios para garantizar que los encargados del tratamiento de los Datos personales, ubicados fuera de Perú, también cumplan con las normas de protección de datos personales peruanas y la legislación aplicable en el país donde se realiza el tratamiento. Además, nos comprometemos a informar oportunamente a la Autoridad de Protección de Datos Personales aquellos flujos transfronterizos conforme lo exige nuestra normativa vigente.
</p>

<p>
6. EJERCICIO DE LOS DERECHOS DE INFORMACION, ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN DE LOS DATOS
Como titular de sus datos personales, el usuario tiene el derecho de acceder a sus datos en posesión de CFR, conocer las características de su tratamiento, a rectificarlos en caso de ser inexactos o incompletos; solicitar sean suprimidos o cancelados al considerarlos innecesarios para las finalidades previamente expuestos o bien oponerse a su tratamiento para fines específicos. El usuario podrá en todo momento revocar el consentimiento otorgado expresamente, tanto como limitar el uso o divulgación de sus datos personales.
El usuario podrá dirigir su solicitud de ejercicio de los derechos en los términos que establece el Reglamento de la Ley N°29733 a http://www.veaclub.com.pe/arco o en nuestra sede administrativa con Dirección en Calle Morelli 181, San Borja, Lima, Perú, o en cualquiera de nuestros locales de Plaza Vea, según corresponda, a nivel nacional.
En caso el usuario considere que su solicitud no ha sido atendida, puede presentar una reclamación ante la Autoridad Nacional de Protección de Datos Personales, dirigiéndose a la Mesa de Partes del Ministerio de Justicia y Derechos Humanos: Calle Scipión Llona N° 350, Miraflores, Lima, Perú o llenando el formulario publicado en el siguiente enlace https://www.minjus.gob.pe/wp-content/uploads/2018/12/FORMULARIO-DE-PROCEDIMIENTO-TRILATERAL-DE-TUTELA.pdf
</p>

<p>
7. RESGUARDO DE LA INFORMACIÓN
CFR ha adoptado las medidas de seguridad necesarias para garantizar la protección de los datos personales proporcionados por el Titular a fin de evitar su alteración, pérdida, acceso o procesamiento no autorizado por parte de terceros que puedan afectar la información de carácter personal.
</p>

<p>
8. DIVULGACIÓN
CFR puede revelar los datos personales cuando estos sean requeridos en virtud de disposiciones legales y/o por autoridades judiciales, administrativas u otras, en el debido ejercicio de sus funciones, a efectos de colaborar con las investigaciones o procedimientos llevados a cabo por dichas autoridades gubernamentales.
</p>

<p>
9. COOKIES
En caso el Usuario utilice nuestra página web, le informamos que esta utiliza cookies necesarias y esenciales para la navegación y el libre movimiento, utilizar áreas seguras u opciones personalizadas. Asimismo, las cookies se utilizan para analizar la experiencia de los usuarios de Internet y poder brindarles mejores servicios y mostrar contenido personalizado. La página web cuenta con un banner de configuración de cookies que permite al cliente elegir el tipo que desea activar, las estrictamente necesarias están siempre activas para el correcto funcionamiento de la página.
El Usuario puede revisar la Política de Cookies a través del siguiente enlace: https://www.plazavea.com.pe/politica-cookies.
En el supuesto que en la página web se coloquen enlaces o hipervínculos que redireccionen a otros lugares de Internet, que son de propiedad de terceros que utilicen cookies, CFR no se hace responsable del uso de cookies por parte de dichos terceros.
</p>

<p>
10. MODIFICACIONES DE LA POLÍTICA DE PRIVACIDAD
CFR se reserva expresamente el derecho a modificar, actualizar o completar esta Política de Privacidad en cualquier momento según su propio criterio, o motivado por un cambio legislativo o jurisprudencial que así lo amerite.
Cualquier modificación, actualización o ampliación producida en las condiciones de tratamiento entrará en vigencia y tendrá efectos frente a los terceros desde su publicación en la Página Web.</p>
    </div>

</body>
</html>